{% extends 'FulltripBundle::base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block main %}
    <section class="splash">
        <h1>Profitez pleinement</h1>
        <h1>de vos vacances</h1>
        <h2>avec</h2>
        <img src="{{ asset('img/logo-color.png') }}" alt="FullTrip logo" class="logo">

        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city) }}
        <i class="fa fa-search" aria-hidden="true"></i>
        {{ form_end(form) }}
        <hr>
    </section>
    <section class="paris">
    <div class="destination-text">
        <h2>
            Nos destinations du moment
        </h2>
        <p>
            Découvrez notre trio du moment, les 3 destinations les
            plus recommandées par les membres de FullTrip.
        </p>
    </div>
        <div class="paris-image">
            <h4>
                La Ville Lumière
            </h4>
            <h2 class="paris-title">
                Paris
            </h2>
        </div>
    </section>
{% endblock %}