{% extends 'FulltripBundle::base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block main %}
    <section class="splash">
        <h1>Profitez pleinement</h1>
        <h1>de vos vacances</h1>
        <h2>avec</h2>
        <img src="{{ asset('img/logo-color.png') }}" alt="FullTrip logo" class="logo">

        <form action="/search" method="get" name="search">
                <input type="search" placeholder="Rechercher une ville" size="45">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
        <hr>
    </section>
    <section class="second-section">
        <h2>Comment ça marche?</h2>
        <div>

        </div>

    </section>
    <section>

    </section>
{% endblock %}