{% extends 'FulltripBundle::base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block main %}
    <section class="splash">
        <h1>Profitez pleinement</h1>
        <h1>de vos vacances</h1>
        <h2>avec</h2>
        <img src="{{ asset('img/logo-color.png') }}" alt="FullTrip logo" class="logo">

        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city) }}
        <i class="fa fa-search" aria-hidden="true"></i>
        {{ form_end(form) }}
        <hr>
    </section>
    <section class="paris">
    <div class="destination-text">
        <h2>
            Nos destinations du moment
        </h2>
        <p>
            Découvrez notre trio du moment, les 3 destinations les
            plus recommandées par les membres de FullTrip.
        </p>
    </div>
        <div class="paris-image">
            <h4>
                La Ville&nbsp;Lumière
            </h4>
            <h2 class="destination-title">
                Paris
            </h2>

            <div class="gradient-bottom">
                <div class="stars-container">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            <div class="activities-container">
                <p class="activities-number">
                    657
                </p>
                <p  class="activities-text">
                    activités
                </p>
            </div>
        </div>
        </div>
    </section>
    <section class="bastia">
        <h4>
            L'Ile de beauté
        </h4>
        <h2 class="destination-title">
            Bastia
        </h2>
        <div class="gradient-bottom">
            <div class="stars-container">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
        </div>
        </div>
        <div class="activities-container">
            <p class="activities-number">
                359
            </p>
            <p  class="activities-text">
                activités
            </p>
        </div>
    </section>
    <section class="lyon">
        <h4>
            La Capitale des&nbsp;Gaules
        </h4>
        <h2 class="destination-title">
            Lyon
        </h2>
        <div class="gradient-bottom">
            <div class="stars-container">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="activities-container">
            <p class="activities-number">
                234
            </p>
            <p  class="activities-text">
                activités
            </p>
        </div>
    </section>
{% endblock %}