@font-face {
  font-family: "Harabara Mais";
  src: url("../fonts/harabara-mais.otf");
}

@font-face {
  font-family: "Harabara Mais Light";
  src: url("../fonts/harabara-mais-light.otf");
}

$font-scale: 80%;