header > nav > ul {
  display: none;
}

header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.sm-logo {
  height: 64.5px;
  margin-top: 5px;
  margin-left: -50px;
}

.sm-menu {
  float: left;
  margin-top: 29.5px;
  margin-left: 25px;
  cursor: pointer;
}

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
}

.mobile-menu  {
  background-color: #222222;

}

.mobile-menu > ul {
  margin-top: 20px;
  margin-left: 10px;
}

.mobile-menu > ul > li{
  font-family: "Harabara Mais Light", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  margin-top: 20px;
  cursor: pointer;

}

.mobile-menu > ul > li > a {
  color: $secondary-color;
  text-decoration: none;
}

@media (min-width: 1025px) {

  .mobile-menu {
    display: none;
  }

  .not-lg {
    display: none;
  }
  header {
    font-family: "Harabara Mais", sans-serif;
    padding: 0;

    .lg {
      display: inline-block;
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-left: -50vw;
    }

    .lg > ul > li {
      display: inline;
      text-transform: uppercase;
      font-size: 1.2vw;
      cursor: pointer;
    }

    .propose-activity {
      padding: 13px;
      border-radius: 10px;
      position: relative;
      border: 2px solid #fff;
      left: -31vw;
      top: 2vw;
    }

    .login-register {
      position: relative;
      top: 2vw;
      right: -31vw;
    }

    a {
      text-decoration: none;
      color: $secondary-color;

    }
  }
}
