header > nav > ul{
  display: none;
}

header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.logo {
  height: 64.5px;
  margin-top: 5px;
  margin-left: -50px;
}

.sm-menu {
  float: left;
  margin-top: 29.5px;
  margin-left: 25px;
  cursor: pointer;
}

nav {
  background: url(../img/mobile-menu.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
}










