header > nav > ul {
  display: none;
}

header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.logo {
  height: 64.5px;
  margin-top: 5px;
  margin-left: -50px;
}

.sm-menu {
  float: left;
  margin-top: 29.5px;
  margin-left: 25px;
  cursor: pointer;
}

nav {
  background: url(../img/mobile-menu.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
}

@media (min-width: 1025px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    nav {
      position: static;
      top: auto;
      left: auto;

      ul > li {
        display: inline-block;
      }
    }

    nav a, nav a:hover, nav a:active {
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      font-family: "Harabara Mais", sans-serif;
      text-transform: uppercase;
      font-size: 1.25em;
    }

    nav > ul > li:first-of-type {
      a {
        border: 2px solid #fff;
        border-radius: 10px;
      }
    }

    nav > ul {
      width: 100vw;
      margin-top: 40px;
    }

    nav > ul > li:nth-of-type(1) {
      float: left;
      margin-left: 40px;
    }

    nav > ul > li:nth-of-type(2) {
      float: right;
      margin-right: 40px;
    }

    .sm-menu {
      display: none;
    }
  }
}