.paris {
  height: 99vw;
  width: 100vw;
  padding-top: 20px;
  font-family: "Harabara Mais Light", sans-serif;

  h2 {
    text-transform: uppercase;
    font-size: 1.5em;

  }

  .destination-text {
    padding: 0 10px 0 10px;
    text-align: center;
    min-width: 350px;
  }

  @media screen and (max-width: 375px) {
    .destination-text {
      min-width: 300px;
    }
  }

  p {
    margin-top: 10px;
    line-height: 17px;

  }
  .paris-image {
    margin-top: 20px;
    background: url(../img/paris.jpg) no-repeat top center;
    background-size: 100%;
    width: 100vw;
    height: 101vw;
  }

  h4 {
    font-size: 4vw;
    margin-left: 35vw;
    margin-top: 26vw;
    display: inline-block;
    color: #67b0c9;

  }
  .destination-title {
    font-size: 17.5vw;
    margin-left: 9.4vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: $secondary-color;
  }

  .fa-star {
    color: $secondary-color;
  }

  .stars-container {
    margin-top: 4.5vw;
    margin-left: 11vw;
    display: inline-block;
    font-size: 1.3em;
  }

  .gradient-bottom {
    height: 16vw;
    width: 100vw;
    margin-top: 16vw;
    background: linear-gradient(to top, rgba(194, 27, 69, 1), rgba(0, 0, 0, 0));
  }

  .activities-container{
    position: relative;
    display: inline-block;
    top: -12vw;
    left: 62vw;
    height: 50px;
  }

  .activities-text {
    color: #61bfd9;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -6.5vw;
    left: 10.7vw;
    display: inline-block;
  }

  .activities-number {
    font-size: 19vw;
    color: #61bfd9;
  }

}

.bastia {

  font-family: "Harabara Mais Light", sans-serif;
  width: 100vw;
  height: 69vw;
  background: url(../img/bastia.jpg) no-repeat top center;
  background-size: 100%;

  .destination-title {
    font-size: 17.5vw;
    margin-left: 25vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: $secondary-color;
    text-transform: uppercase;
  }

  h4 {
    font-size: 4vw;
    margin-left: 32vw;
    margin-top: 20vw;
    display: inline-block;
    color: $secondary-text-color;
  }

  .gradient-bottom {
    height: 22vw;
    width: 100vw;
    margin-top: 6vw;
    background: linear-gradient(to top, rgba(103, 177, 200, 1), rgba(0, 0, 0, 0));
  }

  .activities-container{
    position: relative;
    display: inline-block;
    top: -16vw;
    left: 5vw;
  }

  .activities-text {
    color: $secondary-text-color;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -10.6vw;
    left: 10.7vw;
    display: inline-block;
  }

  .activities-number {
    font-size: 19vw;
    color: $secondary-text-color;
  }

  .fa-star, .fa-star-half-o {
    color: $secondary-color;
  }

  .stars-container {
    margin-top: 11.5vw;
    margin-left: 74vw;
    display: inline-block;
    font-size: 1.3em;
  }

}

.lyon {
  font-family: "Harabara Mais Light", sans-serif;
  width: 100vw;
  height: 69vw;
  background: url(../img/lyon.jpg) no-repeat top center;
  background-size: 100%;

  h4 {
    font-size: 4vw;
    margin-left: 30vw;
    margin-top: 28vw;
    display: inline-block;
    color: #67b0c9;

  }
  .destination-title {
    font-size: 17.5vw;
    margin-left: 27.4vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: $secondary-color;
    text-transform: uppercase;
  }

  .gradient-bottom {
    height: 16vw;
    width: 100vw;
    margin-top: 4vw;
    background: linear-gradient(to top, rgba(194, 27, 69, 1), rgba(0, 0, 0, 0));
  }

  .fa-star, .fa-star-half-o {
    color: $secondary-color;
  }

  .stars-container {
    margin-top: 4.5vw;
    margin-left: 11vw;
    display: inline-block;
    font-size: 1.3em;
  }

  .activities-container{
    position: relative;
    display: inline-block;
    top: -16vw;
    left: 62vw;
  }

  .activities-text {
    color: #61bfd9;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -11.5vw;
    left: 8.5vw;
    display: inline-block;
  }

  .activities-number {
    font-size: 19vw;
    color: #61bfd9;
  }
}
