.splash {
  background: url(../img/sm-splash.jpg) no-repeat top center;
  background-size: 100%;
  width: 100vw;
  height: 65vw;
  position: relative;
  z-index: 0;
  text-align: center;

  .logo {
    display: none;
  }

  h2 {
    display: none;
  }

  h1, input[type="search"] {
    position: absolute;
    font-family: "Harabara Mais Light", sans-serif;
    color: $secondary-color;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  h1:nth-of-type(1) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 1.4em;
    width: 100vw;
    top: 29vw;
  }

  h1:nth-of-type(2) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 2.25em;
    display: block;
    width: 100vw;
    top: 35vw;
  }

  input[type="search"] {
    position: absolute;
    color: $secondary-color;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    top: 53vw;
    width: 85vw;
  }

  .fa-search {
    position: absolute;
    color: $secondary-color;
    top: 55vw;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 34vw;
  }

  hr {
    position: relative;
    top: 62vw;
    width: 80%;
    border-top: 1px solid $secondary-color;
    border-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .splash {
    background: url(../img/splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    top: -81px;
    position: relative;

    h1:nth-of-type(1) {
      font-size: 2vw;
      top: 5vw;
    }

    h1:nth-of-type(2) {
      font-size: 3.3vw;
      top: 8.5vw;
    }

    .logo {
      display: inline-block;
      position: absolute;
      height: 12vw;
      top: 23%;
      margin-left: -5vw;
    }

    h2 {
      display: inline-block;
      font-family: "Harabara Mais", sans-serif;
      text-transform: uppercase;
      color: $primary-color;
      font-size: 1.5vw;
      position: absolute;
      margin-top: 6.5vw;
    }


    h1, h2 {
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 4px;
    }

    input[type="search"] {
      padding-top: 16px;
      padding-left: 32px;
      top: 37vw;
      width: 45%;
      height: 4vw;
      font-size: 1.6vw;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 12px;
    }

    .fa-search {
      font-size: 2.3vw;
      top: 37.8vw;
      left: 35vw;
    }

    hr {
      width: 100%;
      border-bottom: 8px solid #b0bec5;
      top: 99.5%;
      border-top: 1px solid #b0bec5;
    }

    @media (max-width: 1919px) {

    }


   /* h1:nth-of-type(2) {
      font-size: 3.125em;
      top: 15%;
    }

    h2 {
      top: 21%;
      font-family: "Harabara Mais", sans-serif;
      color: $primary-color;
    }

    input[type="search"] {
      position: absolute;
      top: 70%;
      left: 50%;
      font-size: 1.875em;
      color: $secondary-color;
      transform: translate(-50%, -50%);
      padding: 15px 20px;
      background-color: rgba(0, 0, 0, .5);
      border: 0;
      border-radius: 15px;
      font-family: "Harabara Mais Light", sans-serif;
      text-transform: uppercase;
    }

    .fa-search {
      position: absolute;
      color: $secondary-color;
      transform: translate(-50%, -50%);
      top: 69.5%;
      left: 50%;
      margin-left: 235px;
      font-size: 2.3em;
      cursor: pointer;
    }

    hr {
      border: 0;
      height: 10px;
      width: 100vw;
      background-color: $separator-color;
      position: absolute;
      top: 99vh;
      left: 0;
      z-index: 2;
    }*/

  }
}






