.splash {
  background: url(../img/splash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100vw;
  height: 99vh;
  margin: 0;
}