@font-face {
  font-family: "Harabara Mais";
  src: url("../fonts/harabara-mais.otf"); }
@font-face {
  font-family: "Harabara Mais Light";
  src: url("../fonts/harabara-mais-light.otf"); }
.modal {
  /* .login-popup {
     display: none;
   }*/ }

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 42, 0.8);
  z-index: 9999; }

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 42, 0.8);
  z-index: 9999; }

.login-popup {
  display: none;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999; }

.login-popup {
  width: 226px;
  height: 340px;
  border: 1px solid #000; }

.login-popup h3 {
  text-align: center;
  font-family: "Harabara Mais", sans-serif;
  display: inline-block;
  margin-top: 6.3px; }

.form-top {
  background-color: #e6e6e6;
  height: 25px;
  margin-top: -12px;
  text-align: center;
  border-bottom: 1px solid #bbbbbb; }

.fa-times {
  position: relative;
  right: -145px;
  top: -3px; }

label {
  text-align: left;
  font-family: "Harabara Mais Light", sans-serif;
  text-align: center; }

input[type="text"], input[type="password"] {
  width: 80%;
  margin-left: 18px;
  height: 24px; }

input[type="text"] {
  margin-top: 40px; }

input[type="password"] {
  margin-top: 15px; }

input[type="checkbox"] {
  margin-top: 15px;
  margin-left: 18px; }

.center-elements {
  margin-top: 15px; }

input[type="submit"] {
  background-color: #cd3449;
  color: #fff;
  margin-left: 8px;
  margin-top: 20px;
  font-family: "Harabara Mais Light", sans-serif;
  padding: 8px 62px 8px 62px; }

.not-registred {
  font-family: "Harabara Mais Light", sans-serif;
  margin-top: 20px;
  margin-left: 16px; }

.small {
  font-size: .8em; }

.register-btn {
  font-family: "Harabara Mais Light", sans-serif;
  border: 1px solid #c9243b;
  color: #c9243b;
  font-size: .7em;
  background-color: #fff;
  position: relative;
  top: -17px;
  left: 132px;
  padding: 5px 10px 5px 10px; }

.form-separator {
  border-top: .5px solid #d7d7d7;
  border-bottom: 0;
  width: 181px;
  margin-top: 13px; }

.error {
  color: red;
  margin-left: 16px;
  font-family: "Harabara Mais", sans-serif; }

body {
  line-height: 1.1; }

header {
  height: 120px; }
  header ul {
    position: static; }
  header .propose-activity {
    border-color: #c31a45;
    left: 30vw; }
    header .propose-activity a {
      color: #c31a45; }
  header a {
    color: #b0bec5; }
  header a:hover {
    color: #c31a45; }

main {
  width: 96vw;
  padding: 2vw; }
  @media screen and (max-width: 1025px) {
    main .logo {
      display: none; } }
  main .logo {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 60px; }
  main .city, main .fa-search {
    position: absolute;
    top: 40px;
    left: 305px;
    z-index: 3; }
  main .fa-search {
    top: 42px;
    left: 450px; }
  main aside {
    position: fixed;
    top: 120px;
    right: 25px; }
    main aside .stay {
      height: 30vh;
      width: 405px;
      padding: 10px;
      position: fixed;
      bottom: 0;
      right: 0;
      background-color: #eaedf0;
      font-family: "Harabara Mais Light", sans-serif;
      text-transform: uppercase;
      line-height: 1.5; }
      main aside .stay .a-btn {
        position: fixed;
        bottom: 27vh;
        right: 30px;
        text-decoration: none;
        color: #fff;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: #c31a45; }
      main aside .stay h3 {
        font-family: "Harabara Mais", sans-serif;
        color: #607d8b;
        font-size: 1.25em; }
      main aside .stay h4 {
        color: #acb8c6;
        font-size: .8em; }
      main aside .stay table > thead > tr > th {
        color: #c31a45;
        font-size: 1.25em; }
      main aside .stay table {
        margin-top: 25px;
        margin-left: 30px; }
  main .dash img {
    width: 600px; }

/*# sourceMappingURL=adds.css.map */
