/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Harabara Mais";
  src: url("../fonts/harabara-mais.otf"); }
@font-face {
  font-family: "Harabara Mais Light";
  src: url("../fonts/harabara-mais-light.otf"); }
.modal .login-popup {
  display: none; }

.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 42, 0.8);
  z-index: 9999; }

html {
  font-size: 80%; }

input, button, select, option, textarea {
  font-size: 100%; }

body {
  overflow-x: hidden; }

header > nav > ul {
  display: none; }

header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  overflow: hidden;
  text-align: center; }

.sm-logo {
  height: 64.5px;
  margin-top: 5px;
  margin-left: -50px; }

.sm-menu {
  float: left;
  margin-top: 29.5px;
  margin-left: 25px;
  cursor: pointer; }

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; }

.mobile-menu {
  background-color: #222222; }

.mobile-menu > ul {
  margin-top: 20px;
  margin-left: 10px; }

.mobile-menu > ul > li {
  font-family: "Harabara Mais Light", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  margin-top: 20px;
  cursor: pointer; }

.mobile-menu > ul > li > a {
  color: #fff;
  text-decoration: none; }

@media (min-width: 1025px) {
  .mobile-menu {
    display: none; }

  .not-lg {
    display: none; }

  header {
    font-family: "Harabara Mais", sans-serif;
    padding: 0; }
    header .lg {
      display: inline-block;
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-left: -50vw; }
    header .lg > ul > li {
      display: inline;
      text-transform: uppercase;
      font-size: 1.2vw;
      cursor: pointer; }
    header .propose-activity {
      padding: 13px;
      border-radius: 10px;
      position: relative;
      border: 2px solid #fff;
      left: -30vw;
      top: 2vw; }
    header .login-register {
      position: relative;
      top: 2vw;
      right: -31vw; }
    header a {
      text-decoration: none;
      color: #fff; } }
.splash {
  background: url(../img/sm-splash.jpg) no-repeat top center;
  background-size: 100%;
  width: 100vw;
  height: 65vw;
  position: relative;
  z-index: 0;
  text-align: center; }
  .splash .logo {
    display: none; }
  .splash h2 {
    display: none; }
  .splash h1, .splash input[type="search"] {
    position: absolute;
    font-family: "Harabara Mais Light", sans-serif;
    color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block; }
  .splash h1 {
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .splash h1:nth-of-type(1) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 1.4em;
    width: 100vw;
    top: 29vw; }
  .splash h1:nth-of-type(2) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 2.25em;
    display: block;
    width: 100vw;
    top: 35vw; }
  .splash input[type="search"] {
    position: absolute;
    color: #fff;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    top: 53vw;
    width: 85vw; }
  .splash .fa-search {
    position: absolute;
    color: #fff;
    top: 55vw;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 34vw; }
  .splash hr {
    position: relative;
    top: 62vw;
    width: 80%;
    border-top: 1px solid #fff;
    border-bottom: 0; }

@media (min-width: 1025px) {
  .splash {
    background: url(../img/splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: -81px;
    position: relative;
    /* h1:nth-of-type(2) {
       font-size: 3.125em;
       top: 15%;
     }

     h2 {
       top: 21%;
       font-family: "Harabara Mais", sans-serif;
       color: $primary-color;
     }

     input[type="search"] {
       position: absolute;
       top: 70%;
       left: 50%;
       font-size: 1.875em;
       color: $secondary-color;
       transform: translate(-50%, -50%);
       padding: 15px 20px;
       background-color: rgba(0, 0, 0, .5);
       border: 0;
       border-radius: 15px;
       font-family: "Harabara Mais Light", sans-serif;
       text-transform: uppercase;
     }

     .fa-search {
       position: absolute;
       color: $secondary-color;
       transform: translate(-50%, -50%);
       top: 69.5%;
       left: 50%;
       margin-left: 235px;
       font-size: 2.3em;
       cursor: pointer;
     }

     hr {
       border: 0;
       height: 10px;
       width: 100vw;
       background-color: $separator-color;
       position: absolute;
       top: 99vh;
       left: 0;
       z-index: 2;
     }*/ }
    .splash h1:nth-of-type(1) {
      font-size: 2vw;
      top: 5vw; }
    .splash h1:nth-of-type(2) {
      font-size: 3.3vw;
      top: 8.5vw; }
    .splash .logo {
      display: inline-block;
      position: absolute;
      height: 12vw;
      top: 23%;
      margin-left: -5vw; }
    .splash h2 {
      display: inline-block;
      font-family: "Harabara Mais", sans-serif;
      text-transform: uppercase;
      color: #c31a45;
      font-size: 1.5vw;
      position: absolute;
      margin-top: 6.5vw; }
    .splash h1, .splash h2 {
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 4px; }
    .splash input[type="search"] {
      padding-top: 16px;
      padding-left: 32px;
      top: 37vw;
      width: 45%;
      height: 4vw;
      font-size: 1.6vw;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 12px; }
    .splash .fa-search {
      font-size: 2.3vw;
      top: 37.8vw;
      left: 35vw; }
    .splash hr {
      width: 100%;
      border-top: 8px solid #b0bec5;
      border-bottom: 0;
      top: 99.5%; } }
.not-sm {
  display: none; }

.name {
  text-transform: uppercase; }

.paris {
  height: 99vw;
  width: 100vw;
  padding-top: 20px;
  font-family: "Harabara Mais Light", sans-serif; }
  .paris h2 {
    text-transform: uppercase;
    font-size: 1.5em; }
  .paris .destination-text {
    padding: 0 10px 0 10px;
    text-align: center;
    min-width: 350px; }
  @media screen and (max-width: 374px) {
    .paris {
      height: 110vw; }
      .paris .destination-text {
        min-width: 300px; } }
  .paris p {
    margin-top: 10px;
    line-height: 17px; }
  .paris .paris-image {
    margin-top: 20px;
    background: url(../img/paris.jpg) no-repeat top center;
    background-size: 100%;
    width: 100vw;
    height: 101vw; }
  .paris h4 {
    font-size: 4vw;
    margin-left: 35vw;
    margin-top: 26vw;
    display: inline-block;
    color: #67b0c9; }
  .paris .destination-title {
    font-size: 17.5vw;
    margin-left: 9.4vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: #fff; }
  .paris .fa-star {
    color: #fff; }
  .paris .stars-container {
    margin-top: 4.5vw;
    margin-left: 11vw;
    display: inline-block;
    font-size: 1.3em; }
  .paris .gradient-bottom {
    height: 16vw;
    width: 100vw;
    margin-top: 16vw;
    background: linear-gradient(to top, #c21b45, transparent); }
  .paris .activities-container {
    position: relative;
    display: inline-block;
    top: -11.5vw;
    left: 62vw;
    height: 50px; }
  .paris .activities-text {
    color: #61bfd9;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -6vw;
    left: 10.7vw;
    display: inline-block; }
  @media screen and (max-width: 413px) {
    .paris .activities-container {
      top: -13.5vw; } }
  @media screen and (max-width: 374px) {
    .paris .activities-text {
      top: -7vw; } }
  .paris .activities-number {
    font-size: 19vw;
    color: #61bfd9; }
  @media screen and (min-width: 1025px) {
    .paris {
      background: url(../img/paris-lg.jpg) no-repeat top center;
      background-size: 100%;
      width: 100vw;
      height: 80vw;
      margin-top: -7px; }
      .paris .paris-image {
        background: none; }
      .paris h2 {
        font-size: 3vw;
        margin-top: 2%; }
      .paris p {
        color: #f02054;
        font-size: 1.3vw;
        margin-top: 1.5%; }
      .paris h4 {
        margin-top: 16vw; }
      .paris .destination-title {
        margin-top: 0; }
      .paris h5 {
        font-family: "Harabara Mais Light", sans-serif;
        display: inline-block;
        font-size: 2vw;
        color: #3ccce4;
        position: relative;
        top: -15vw;
        left: -21vw; }
      .paris .destination-description {
        display: inline-block;
        font-family: "Harabara Mais Light", sans-serif;
        color: #fff;
        width: 43vw;
        line-height: 1.5;
        position: relative;
        top: -15vw;
        left: 3.8vw; }
      .paris .stars-container {
        font-size: 1.5vw;
        margin-left: 4vw;
        position: relative;
        top: -0.4vw; }
      .paris .fa-star {
        color: #44d8f3; }
      .paris .destination-name {
        font-size: 3vw;
        color: #fff; }
      .paris .gradient-bottom {
        height: 17.2vw; }
      .paris .activities-text {
        top: -0.5vw; }
      .paris .activities-container {
        top: -8.5vw; }
      .paris .section-end {
        display: block;
        width: 100%;
        border-top: 8px solid #66b1c8;
        border-bottom: 0;
        margin-top: -30.5%; } }
  @media screen and (min-width: 1700px) {
    .paris {
      height: 79.3vw; }
      .paris .stars-container {
        top: -0.8vw; } }

@media screen and (min-width: 1025px) {
  .how-it-works {
    display: block;
    margin-top: -12px;
    font-family: "Harabara Mais Light", sans-serif; }
    .how-it-works h2 {
      font-family: "Harabara Mais", sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 2vw;
      color: #333333; }
    .how-it-works ul > li {
      display: inline-block;
      text-align: center;
      width: 17vw;
      margin-left: 12.25%; }
    .how-it-works h3 {
      text-transform: uppercase;
      color: #c31a45;
      font-size: 1.3vw;
      margin-top: 20%; }
    .how-it-works img {
      height: 11vw; }
    .how-it-works ul {
      margin-top: 100px; }
    .how-it-works p {
      font-size: 1.1vw;
      margin-top: 10%;
      color: #758e9a; }
    .how-it-works hr {
      border-top: 2px solid #c31a45;
      border-bottom: 0;
      width: 3.5vw;
      margin-top: 15%; }
    .how-it-works .section-end {
      display: block;
      width: 100%;
      border-top: 8px solid #e4eaed;
      border-bottom: 0;
      margin-top: 4%; } }
.bastia {
  font-family: "Harabara Mais Light", sans-serif;
  width: 100vw;
  height: 69vw;
  background: url(../img/bastia.jpg) no-repeat top center;
  background-size: 100%; }
  .bastia .destination-title {
    font-size: 17.5vw;
    margin-left: 25vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: #fff;
    text-transform: uppercase; }
  .bastia h4 {
    font-size: 4vw;
    margin-left: 32vw;
    margin-top: 20vw;
    display: inline-block;
    color: #c5234c; }
  .bastia .gradient-bottom {
    height: 22vw;
    width: 100vw;
    margin-top: 6vw;
    background: linear-gradient(to top, #67b1c8, transparent); }
  .bastia .activities-container {
    position: relative;
    display: inline-block;
    top: -16vw;
    left: 5vw; }
  .bastia .activities-text {
    color: #c5234c;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -10.6vw;
    left: 10.7vw;
    display: inline-block; }
  .bastia .activities-number {
    font-size: 19vw;
    color: #c5234c; }
  .bastia .fa-star, .bastia .fa-star-half-o {
    color: #fff; }
  .bastia .stars-container {
    margin-top: 11.5vw;
    margin-left: 74vw;
    display: inline-block;
    font-size: 1.3em; }
  @media screen and (min-width: 1025px) {
    .bastia {
      background: url(../img/bastia-lg.jpg) no-repeat top center;
      background-size: 100%;
      width: 100vw;
      height: 77.6vw; }
      .bastia h2 {
        font-size: 3vw;
        margin-top: 2%; }
      .bastia p {
        color: #f02054;
        font-size: 1.3vw;
        margin-top: 1.5%; }
      .bastia h4 {
        margin-top: 19vw; }
      .bastia .destination-title {
        margin-top: 0; }
      .bastia h5 {
        font-family: "Harabara Mais Light", sans-serif;
        display: inline-block;
        font-size: 2vw;
        color: #c31a45;
        position: relative;
        top: -37vw;
        left: 27.3vw; }
      .bastia .destination-description {
        display: inline-block;
        font-family: "Harabara Mais Light", sans-serif;
        color: #fff;
        width: 43vw;
        line-height: 1.5;
        position: relative;
        top: -36vw;
        left: 53.8vw; }
      .bastia .stars-container {
        font-size: 1.5vw;
        margin-left: 90vw;
        position: relative;
        top: 4.9vw; }
      .bastia .fa-star, .bastia .fa-star-half-o {
        color: #c31a45; }
      .bastia .destination-name {
        font-size: 3vw;
        color: #fff; }
      .bastia .gradient-bottom {
        height: 33.5vw; }
      .bastia .activities-text {
        top: -10.4vw; }
      .bastia .activities-container {
        top: -19.5vw; } }

.lyon {
  font-family: "Harabara Mais Light", sans-serif;
  width: 100vw;
  height: 69vw;
  background: url(../img/lyon.jpg) no-repeat top center;
  background-size: 100%; }
  .lyon h4 {
    font-size: 4vw;
    margin-left: 30vw;
    margin-top: 28vw;
    display: inline-block;
    color: #67b0c9; }
  .lyon .destination-title {
    font-size: 17.5vw;
    margin-left: 27.4vw;
    display: inline-block;
    letter-spacing: 1.8vw;
    color: #fff;
    text-transform: uppercase; }
  .lyon .gradient-bottom {
    height: 16vw;
    width: 100vw;
    margin-top: 4vw;
    background: linear-gradient(to top, #c21b45, transparent); }
  .lyon .fa-star, .lyon .fa-star-half-o {
    color: #fff; }
  .lyon .stars-container {
    margin-top: 4.5vw;
    margin-left: 11vw;
    display: inline-block;
    font-size: 1.3em; }
  .lyon .activities-container {
    position: relative;
    display: inline-block;
    top: -16vw;
    left: 62vw; }
  .lyon .activities-text {
    color: #61bfd9;
    font-size: 2.3vw;
    font-weight: bold;
    position: relative;
    top: -10.5vw;
    left: 8.5vw;
    display: inline-block; }
  @media screen and (max-width: 413px) {
    .lyon .activities-text {
      top: -11.1vw; } }
  .lyon .activities-number {
    font-size: 19vw;
    color: #61bfd9; }
  @media screen and (min-width: 1025px) {
    .lyon {
      background: url(../img/lyon-lg.jpg) no-repeat top center;
      background-size: 100%;
      width: 100vw;
      height: 93vw; }
      .lyon h2 {
        font-size: 3vw;
        margin-top: 2%; }
      .lyon p {
        color: #f02054;
        font-size: 1.3vw;
        margin-top: 1.5%; }
      .lyon h4 {
        margin-top: 28vw; }
      .lyon .destination-title {
        margin-top: 0; }
      .lyon h5 {
        font-family: "Harabara Mais Light", sans-serif;
        display: inline-block;
        font-size: 2vw;
        color: #3ccce4;
        position: relative;
        top: -33vw;
        left: -21vw; }
      .lyon .destination-description {
        display: inline-block;
        font-family: "Harabara Mais Light", sans-serif;
        color: #fff;
        width: 43vw;
        line-height: 1.5;
        position: relative;
        top: -31.7vw;
        left: 3.8vw; }
      .lyon .stars-container {
        font-size: 1.5vw;
        margin-left: 4vw;
        position: relative;
        top: -0.4vw; }
      .lyon .fa-star, .lyon .fa-star-half-o {
        color: #44d8f3; }
      .lyon .destination-name {
        font-size: 3vw;
        color: #fff; }
      .lyon .gradient-bottom {
        height: 17.2vw;
        margin-top: 19.3vw; }
      .lyon .activities-text {
        top: -10.5vw; }
      .lyon .activities-container {
        top: -16.8vw; } }

.notices {
  height: 108vw;
  width: 100vw;
  margin-top: 6vw;
  padding-top: 20px;
  font-family: "Harabara Mais Light", sans-serif; }
  .notices h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    display: inline-block; }
  .notices .notices-text {
    padding: 0 10px 0 10px;
    text-align: center;
    min-width: 350px;
    display: inline-block; }
  @media screen and (max-width: 375px) {
    .notices .notices-text {
      min-width: 300px; } }
  .notices p {
    margin-top: 10px;
    line-height: 17px; }
  .notices .notice-container {
    width: 100%;
    margin-top: 6vw;
    padding-top: 6vw;
    background-color: #fbfbfb; }
  .notices .first-user-name {
    display: inline-block;
    position: relative;
    top: -20vw;
    left: 25.5vw;
    color: #c0001b;
    font-weight: bold; }
  .notices .first-notice-image {
    position: relative;
    width: 22vw;
    left: -33vw;
    top: 6vw; }
  .notices .name {
    text-transform: uppercase; }
  .notices .first-user-notice {
    display: inline-block;
    width: 64vw;
    min-width: 64vw;
    position: relative;
    top: -19vw;
    left: 30vw;
    color: #425761; }
  .notices .place-time {
    display: inline-block;
    font-size: .7em;
    color: #b8b8b8; }
  @media screen and (max-width: 374px) {
    .notices .first-user-notice {
      left: 30vw; }
    .notices .first-notice-image {
      left: -41vw; } }
  .notices .second-notice-image {
    position: relative;
    width: 22vw;
    left: 7.5vw;
    top: -14vw; }
  .notices .second-user-name {
    display: inline-block;
    position: relative;
    top: -10vw;
    left: -25.5vw;
    color: #c0001b;
    font-weight: bold; }
  .notices .second-user-notice {
    display: inline-block;
    width: 65vw;
    min-width: 65vw;
    position: relative;
    top: -10vw;
    left: 5vw;
    color: #425761;
    text-align: right; }
  @media screen and (max-width: 374px) {
    .notices {
      height: 142vw; }
      .notices .second-user-notice {
        left: 4vw; }
      .notices .second-user-name {
        left: 35vw; }
      .notices .second-notice-image {
        left: 6.5vw;
        top: -24vw; } }
  @media screen and (min-width: 414px) {
    .notices {
      height: 94vw; }
      .notices .second-user-name {
        margin-left: 3.5vw; }
      .notices .second-notice-image {
        left: 9.5vw;
        top: -9vw; } }

@media screen and (min-width: 1025px) {
  .lg-notices {
    display: block;
    height: 52.2vw;
    width: 100vw;
    margin-top: 6vw;
    padding-top: 20px;
    font-family: "Harabara Mais Light", sans-serif; }
    .lg-notices .notices-text {
      margin-top: -8vw;
      text-align: center; }
    .lg-notices h2 {
      text-transform: uppercase;
      font-size: 3.5vw;
      display: inline-block; }
    .lg-notices .first-notice-image {
      margin-left: 12vw;
      height: 14vw;
      margin-top: 1vw; }
    .lg-notices .first-user-name {
      margin-left: 26vw;
      margin-top: 5.8vw;
      color: #c31a45;
      font-size: 1.8vw; }
    .lg-notices .second-notice-image {
      margin-left: 66vw;
      height: 14vw;
      margin-top: -9vw; }
    .lg-notices .second-user-name {
      margin-left: 48vw;
      margin-top: 5.8vw;
      color: #c31a45;
      font-size: 1.8vw; }
    .lg-notices .first-user-notice {
      display: inline-block;
      width: 40vw;
      position: relative;
      top: -1vw;
      margin-left: 2vw;
      font-size: 1.3vw;
      line-height: 2;
      color: #425761; }
    .lg-notices .second-user-notice {
      display: inline-block;
      width: 35vw;
      position: relative;
      top: 4vw;
      margin-left: 30vw;
      font-size: 1.3vw;
      line-height: 2;
      color: #425761; }
    .lg-notices .place-time {
      color: #cbcbcb; }
    .lg-notices .section-end {
      border-top: 8px solid #e4eaed;
      border-bottom: 0;
      margin-top: 10vw; } }
.social-network {
  font-family: "Harabara Mais Light", sans-serif;
  width: 100vw;
  height: 66vw;
  background: url(../img/social.jpg) no-repeat top center;
  background-size: 100%; }
  .social-network h2, .social-network h4, .social-network h5, .social-network h3, .social-network h6 {
    text-transform: uppercase; }
  .social-network h4 {
    font-size: 3.5vw;
    display: inline-block;
    margin-left: 22.5vw;
    margin-top: 4vw;
    letter-spacing: 1px;
    color: #fff; }
  .social-network h2 {
    font-size: 7vw;
    margin-left: 35vw;
    margin-top: 2vw;
    color: #fff; }
  .social-network h5 {
    text-transform: uppercase;
    font-size: 4vw;
    margin-top: 1vw;
    margin-left: 45vw;
    color: #c31a45; }
  .social-network .bottom-logo {
    height: 20vw;
    margin-left: 42vw; }
  .social-network h6 {
    font-size: 3vw;
    margin-left: 15vw;
    margin-top: 2vw;
    color: #fff; }
  .social-network h3 {
    font-size: 4vw;
    margin-left: 8vw;
    color: #fff; }
  .social-network .social-icons {
    height: 10vw;
    margin-left: 5vw; }
  .social-network .icons-container {
    margin-top: 2vw;
    margin-left: 5vw; }
  @media screen and (min-width: 1025px) {
    .social-network {
      width: 100vw;
      height: 61vw;
      background: url(../img/lg-social.jpg) no-repeat top center;
      background-size: 100%; } }
  .social-network h4 {
    font-size: 1.6vw;
    margin-left: 36.5vw;
    margin-top: 3vw; }
  .social-network h2 {
    font-size: 4vw;
    margin-left: 40vw;
    margin-top: 2vw; }
  .social-network h5 {
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-left: 44vw; }
  .social-network .bottom-logo {
    margin-left: 39vw; }
  .social-network h6 {
    font-size: 2vw;
    margin-left: 24vw;
    margin-top: 8vw; }
  .social-network h3 {
    font-size: 3vw;
    margin-left: 15vw; }
  .social-network .social-icons {
    height: 6vw;
    margin-left: 9vw;
    margin-top: 2vw; }

/*# sourceMappingURL=main.css.map */
