/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Harabara Mais";
  src: url("../fonts/harabara-mais.otf"); }
@font-face {
  font-family: "Harabara Mais Light";
  src: url("../fonts/harabara-mais-light.otf"); }
.modal .login-popup {
  display: none; }

html {
  font-size: 80%; }

input, button, select, option, textarea {
  font-size: 100%; }

body {
  overflow-x: hidden; }

header > nav > ul {
  display: none; }

header {
  height: 75px;
  line-height: 75px;
  overflow: hidden;
  text-align: center; }

.logo {
  height: 64.5px;
  margin-top: 5px;
  margin-left: -50px; }

.sm-menu {
  float: left;
  margin-top: 29.5px;
  margin-left: 25px; }

.splash {
  background: url(../img/sm-splash.jpg) no-repeat top center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  text-align: center; }
  .splash .logo {
    display: none; }
  .splash h2 {
    display: none; }
  .splash h1, .splash input[type="search"] {
    position: absolute;
    font-family: "Harabara Mais Light", sans-serif;
    color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block; }
  .splash h1 {
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .splash h1:nth-of-type(1) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 1.4em;
    width: 100vw;
    top: 115px; }
  .splash h1:nth-of-type(2) {
    font-family: "Harabara Mais Light", sans-serif;
    font-size: 2.25em;
    display: block;
    width: 100vw;
    top: 160px; }
  .splash input[type="search"] {
    position: absolute;
    color: #fff;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    top: 225px; }
  .splash .fa-search {
    position: absolute;
    color: #fff;
    top: 232px;
    font-size: 1.5em;
    cursor: pointer;
    left: 334px; }
  .splash hr {
    position: relative;
    top: 259px;
    width: 88%;
    border-top: 1px solid #fff;
    border-bottom: 0; }

/*# sourceMappingURL=main.css.map */
