{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Proposer une activité{% endblock %}
{% block main %}
    <section>
        {{ form_start(form, {'name': 'post', 'action': path('fulltrip_post_create')}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}