{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}{{ place.name }} à {{ place.city }}{% endblock %}
{% block main %}
    <section>
        <h1>{{ place.name }} à {{ place.city }}</h1>
    </section>
{% endblock %}